
<p *ngIf="!data?.length"><em>Loading...</em></p>

<div class="table-box">
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th class='table-heading'>Title</th>
        <th class='table-heading'>Genre</th>
        <th class='table-heading'>Score</th>
        <th class='table-heading'>Votes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let info of data">
        <td class='table-title'>{{info.TITLE}}</td>
        <td class='table-entry'>{{info.GENRE}}</td>
        <td class='table-entry'>{{info.SCORE}}</td>
        <td class='table-entry'>{{info.VOTES}}</td>
      </tr>
    </tbody>
  </table>
</div>