<p *ngIf="!genres?.length"><em>Loading...</em></p>
<div class="table-div">
  <h1>Top Ranked Genres</h1>
  <table id="table-main" aria-labelledby="tableLabel" [hidden]="!genres">
    <!-- <thead>
      <tr>
        <th class='table-heading'>ID</th>
        <th class='table-heading'>Genre</th>
      </tr>
    </thead> -->
    <tbody class="tbod">
      <tr class="test" *ngFor="let genre of genres">
        <td class='table-title'><a id="viewlink" [routerLink]="['/genre', genre.id]">view</a></td>
        <td class='table-title'>{{ genre.genre1}}</td>
      </tr>
    </tbody>
  </table>
</div>