.table-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
}
#title {
  font-size: 3em;
}

#table-main {
  width: 20em;
}

.tbod {
  text-align: end;
}

.table-title {
  font-size: 25px;
  padding-bottom: 10px;
}

#viewlink {
  color: black;
  background: white;
  border: white;
  border-radius: 10px;
}

a:link {
  text-decoration: none;
  padding: 1px 5px 1px 5px;
}

#trow:hover {
  color: rgb(233, 25, 10);
}

#view-btn {
  color: white;
  background-color: rgb(244,67,54);
}

#view-btn:hover {
  background-color: rgb(193, 24, 12);
}