<div class="modal">
  <div>
    <p id="welcome">Welcome to Netflix Recs</p>
  </div>  
  <div id="info">
    Netflix Recs is a single page web app created with the intent of giving recommendations of Netflix shows based off of a top rated Netflix shows database.
  </div>
  <div class="tech">
    <i id="tech" class="devicon-angularjs-plain-wordmark"></i>
    <i id="tech" class="devicon-amazonwebservices-plain-wordmark"></i>
    <i id="techL" class="devicon-csharp-line"></i>
    <i id="techL" class="devicon-dotnetcore-plain"></i>
  </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
          