.content {
  display: flex;
  margin-top: 3em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcome {
  font-size: 75px;
}

#info {
  margin-top: 30px;
  width: 25em;
  font-size: 30px;
  text-align: center;
  line-height: 1.0;
}